#bnn{
  margin-top: 150px;
  position: relative;
}

#bnn .contenedor{
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color:#000;
}
#bnn h2{
  font-size: 28px;
}
#bnn a{
  display: block;
  width: 90px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin-top: 10px;
  border: 3px solid #000;
}
#bnn a:hover{
  background: rgba(51,51,51,.3);
}
