@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?43983785');
  src: url('../font/fontello.eot?43983785#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?43983785') format('woff2'),
       url('../font/fontello.woff?43983785') format('woff'),
       url('../font/fontello.ttf?43983785') format('truetype'),
       url('../font/fontello.svg?43983785#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43983785#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-picture:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-eye-off:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-print:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */
.icon-key:before { content: '\e80a'; } /* '' */
.icon-search-outline:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-user-add-outline:before { content: '\e80d'; } /* '' */
.icon-user-add:before { content: '\e80e'; } /* '' */
.icon-user-1:before { content: '\e80f'; } /* '' */
.icon-user-outline:before { content: '\e810'; } /* '' */
.icon-picture-1:before { content: '\e811'; } /* '' */
.icon-picture-outline:before { content: '\e812'; } /* '' */
.icon-th-list:before { content: '\e813'; } /* '' */
.icon-th-list-outline:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-plus-outline:before { content: '\e816'; } /* '' */
.icon-trash:before { content: '\e817'; } /* '' */
.icon-money:before { content: '\e818'; } /* '' */
.icon-key-1:before { content: '\e819'; } /* '' */
.icon-trash-1:before { content: '\e81a'; } /* '' */
.icon-basket-1:before { content: '\e81b'; } /* '' */
.icon-doc-text:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e81e'; } /* '' */
.icon-emo-wink:before { content: '\e81f'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */