

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background: #fff;

    background-image: url(../img/fnd4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    width: 100%;
    height: 100px;
    background:#000;
    color:#fff;
    margin: 0;
    margin-bottom: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

 ul{
     margin: 0;
     padding: 0;
     display: flex;
 }
 ul li{
     list-style: none;
     margin: 0 20px;
     transition: 0.5s;
    
 }
 ul li a{
     display: block;
     position: relative;
     text-decoration: none;
     padding: 5px;
     font-size: 18px; 
     font-family: sans-serif;
     color:#000;
     text-transform: uppercase;
     transition: 0.5s;
 }
 
 ul:hover li a{
     transform: scale(1.5);
     opacity: .2;
     filter: blur(5px);
 }
 ul li a:hover{
    transform: scale(1.2);
    opacity: 1;
    filter: blur(0);
}
ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(173, 171, 171);
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
ul li a:hover:before{

    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
