body{
    margin: 0;
    font-family: sans-serif;
    font-size:15px;
 
    background-image: url(../img/fnd4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#container ul{
    text-align: center;
    padding: 0;
    list-style: none;
}
#hmenu >li{
    display: inline-block;
}
#hmenu >li >a{
    display: block;
    padding: 17px 5px;
    width: 100px;
    
}
li ul{
    position: absolute;
    display: none;
}
.sub-menu a{
    display: block;
    padding: 13px 5px;
    width: 140px;
    text-align: center;
    
}
li:hover ul{
    display: block;
    border-radius: 5px;
}
#container, li ul{
    background: #000;
}
#hmenu{
    width: 600px;
    margin: 0 auto;
}
#hmenu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#hmenu li:hover{
    background: #a2aca0;
    text-shadow: 0 0 2px #000;
    border-radius: 5px;
    text-align: center;
    transition: ease  .7s;
}
