@import url(men_adm.css);
@import url(background.css);
@import url(bnn.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.contenedor{
  width: 100%;
  margin-top: 7px;

}
h1{
  float: left;
  margin-top: -4px;
  font-size: 40px;
}
header .contenedor{
  display: table;
}
section{
  width: 100%;
  margin-bottom: 25px;
}
