body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     
    background-image: url(../img/fnd4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 330px;
    padding: 40px;
    background: rgba(2, 2, 2, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5;);
    border-radius: 10px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputbox{
    position: relative;
    
}
.box .inputbox input{
    width: 100%;
    height: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    outline: none;
    border-radius: 5px;


}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    font-size: 14px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label{
    
    top: -27px;
    left: 0;
    color: rgb(173, 171, 171);
    font-size: 13px;
    text-shadow: 0 0 2px rgb(172, 172, 172);

}
.box input[type="submit"]{
    margin-left: 115px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    background: rgb(173, 171, 171);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    font-weight: bold;
}
.box input[type="submit"]:hover{
    background: #fff;
    color: #000;
    font-weight: bold;
} 
a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    
}
a p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 23px;
 
    background: rgb(173, 171, 171);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
a p:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 23px;
 
    background: #fff;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}
