body{
	margin:  auto; 
	margin-top: 117px;
	margin-left: 280px;
}
div a{
	text-decoration: none;
}
.btn  {

	margin: 17px;
	padding: 17px;
	float: left;
	width: 377px; height:70px;
	background: #000;
	border-radius: .5em;
	cursor: pointer;
	transition: background-color .5s;
	

}
.btn:hover{
	background: rgb(173, 171, 171);
	color:#000;

}
.btn p:hover{
	color: #000;
	text-shadow: 0 0 2px #000;
}
.btn p{
	text-align: center;
	margin: -3.3% auto;
	font-size: 2em; font-weight: bold; 
	font-family: sans-serif;
	color: #fff;
	line-height: 1.9em; 
}