#menu-bar{
  display: none;
}
header label{
  float: right;
  font-size: 30px;
  margin: 1px 0;
  cursor: pointer;
}
.menu{
  position: absolute;
  top: 50px;
  left: 0;
  width: 15%;
  height: 100vh;
  background: rgb(173, 171, 171);
  transition: all 0.5s;
  transform: translateX(-100%);
}
.menu a{
  font-size: 18px;
  display: block;
  color: #000;;
  height: 60px;
  text-decoration: none;
  padding: 20px;
  
  border-bottom: 1px solid rgba(12, 12, 12, 0.3);
}
.menu a:hover{
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 2px #000;
}
#menu-bar:checked ~ .menu{
  transform: translateX(0%);
}
