.from{
    margin:  auto;
	padding: 5px 0px 0px 40px;
	margin-top: 97px;
	background: rgba(2, 2, 2, 0.9);
	width: 450px;
    height: 463px;
    border-radius: 10px;
}
.from label{
    font-size: 17px;
    display: block;
	margin-bottom: 5px;
	margin-top: 5px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1.5px  #fff;

}
.from h1{
    margin: 0;
    background: rgb(168, 168, 168);
    width: 450px;
    height: 60px;
    margin-top: -5px;   
    margin-left: -40px;
    color: #000;
    text-align: center;
    text-shadow: 0 0 2px #000;
    border-radius: 10px;
}
.from input{
	width: 100%;
	max-width: 90%;
	height: 27px;
}

.from input[type="text"]{
	border:none;
	outline: none;
	border-bottom: 3px solid rgb(56, 56, 56);
	border-radius: 5px;
	font-size: 15px;
	transition: all .2s;
	cursor: pointer;
}
.from input[type="text"]:hover{
	border-bottom: 3px solid #000;
}

.from select:hover{
	border-bottom: 3px solid #000;

}
.from input[type="submit"]{
	width: 200px;
	height: 30px;
	margin-top: 10px;
	margin-left: 90px;
	border:none;
	outline: none;
	border-radius: 5px;
	font-size: 18px;

	transition: all .2s;
    background: #000;
    color:#fff;

}
.from input[type="submit"]:hover{
	background: #fff;
    color: #000;
    font-weight: bold; 
    text-shadow: 0 0 2px #000;  
}